<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Loading Bootstrap</title>
        <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap-utilities.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/">Анализатор страниц</a>
                </div>
                <div class="col">
                    <a href="/">Главная</a>
                </div>
                <div class="col">
                    <a href="/">Сайты</a>
                </div>
            </div>
        </div>
    </body>
</html>
